/* Importando Google Api */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Asignando variables */
:root {

  /* Fonts */
  --font: 'Montserrat', sans-serif;
  --font-weight: 700;
  --font-size: 15px;

  /* Colors */
  --color-linear-gradient: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(129,135,229,1) 46%, rgba(105,111,221,1) 100%);
  --color-very-light-grayish-blue:  hsl(240, 78%, 98%);
  --color-light-grayish-blue: hsl(234, 14%, 74%);
  --color-grayish-blue: hsl(233, 13%, 49%);
  --color-dark-grayish-blue: hsl(232, 13%, 33%);

  /* Layout */
  --size-mobile: 375px;
  --size-desktop: 1440px;
}

.generic-car,
.first-choice,
.second-choice,
.third-choice {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  border-radius: 2%;
  padding: 1rem 2rem;
  height: 400px;
  width: 33%;
  max-width: 300px;
}

.generic-btn, button {
  cursor: pointer;
  text-transform: uppercase;
  width: 238px;
  height: 38px;
  border-radius: 5px;
  margin-top: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  min-height: 100vh;
  opacity: 0.9;
  position: relative;
  padding-bottom: 40px;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

h1 {
  color: var(--color-grayish-blue);
}

.header-pricing-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

#price-annual {
  margin-right: 25px;
}

#price-month {
  margin-left: 25px;
}

p {
  color: var(--color-light-grayish-blue);
  padding: 1rem 1.5rem;
}

.toggle {
  width: 80px;
  height: 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  -webkit-appearance: none;
  border: 0.5px solid gray;
}

.toggle::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-linear-gradient);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}

.toggle::after {
  position: absolute;
  content: '';
  top: 7%;
  left: 7%;
  width: 45%;
  height: 85%;
  background-color: #fff;
  -webkit-transition: 0.4s;
  border-radius: 50%;
}

.toggle:checked::after {
  left: 50%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

.price-month, .price-annual {
  font-size: 4rem;
}

.hidden {
  display: none;
}

p {
  border-top: 1px solid var(--color-light-grayish-blue);
  padding: 1rem 0;
}

.first-choice, .third-choice {
  background: #fff;
  color: var(--color-dark-grayish-blue);
  box-shadow: -1px -1px 10px rgb(119, 118, 118);
}

button {
  background: var(--color-linear-gradient);
  color: var(--color-very-light-grayish-blue);
  border: 1px solid transparent;
}

button:hover {
  background: var(--color-very-light-grayish-blue);
  color: #9399e9;
  border: 1px solid #9399e9;
}

.second-choice {
  background: var(--color-linear-gradient);
  color: var(--color-very-light-grayish-blue);
  height: 430px;
  & > button {
    background: var(--color-very-light-grayish-blue);
    color: #9399e9;
    border: 1px solid transparent;
  }
  & > button:hover {
    background: transparent;
    color: var(--color-very-light-grayish-blue);
    border: 1px solid var(--color-very-light-grayish-blue)
  }
}

.footer-container {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}

a {
  color: hsl(228, 45%, 44%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    justify-content: space-between;
  }

  .first-choice,
  .second-choice,
  .third-choice {
    width: 400px;
    margin: 1rem;
  }
}